In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

Extracción de dos ficheros csv, agrupadas por genero de peliculas y el año de estreno como sus totales del genero por año

In [2]:
titles  =  pd.read_table("title.basics.tsv", low_memory=False)
ratings  =  pd.read_table("title.ratings.tsv", low_memory=False)

In [3]:
vals = titles[(titles['titleType']=='movie') & (titles['genres']!='\\N')]
# vals.head()

In [4]:
all_rec_df = [pd.Series(row['startYear'],row['genres'].split(","))              
                    for _, row in vals.iterrows()]
all_rec_df = pd.concat(all_rec_df).reset_index()

In [5]:
all_rec_df.columns = ['genre','year']
all_rec_df['year'] = all_rec_df['year'].astype('str')
all_genres = all_rec_df

In [6]:
year_genre = pd.pivot_table(all_genres,  index=['year'], columns=['genre'], aggfunc= len,fill_value=0)

In [7]:
year_genre['Total'] = year_genre.sum(axis = 1)
year_genre = year_genre.drop('\\N')
# year_genre

In [8]:
year_genre.to_csv("year_genre.csv")

In [9]:
year_genre_csv = pd.read_csv("year_genre.csv")
year_genre_csv

,year,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western,Total
0,1896,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,1897,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,3
2,1898,0,0,0,0,0,0,0,7,0,...,0,0,0,0,0,0,0,0,0,7
3,1899,0,0,0,0,0,0,0,8,0,...,0,0,0,0,3,0,0,0,0,13
4,1900,0,0,0,0,0,0,0,6,0,...,0,0,0,0,0,0,0,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,2024,18,0,13,4,2,9,4,10,30,...,0,3,8,0,1,0,11,0,2,145
129,2025,3,0,2,1,2,2,0,0,8,...,0,2,4,0,0,0,4,0,1,36
130,2026,1,0,1,1,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,9
131,2027,1,0,2,1,0,0,0,1,1,...,0,0,2,0,0,0,1,0,0,11
132,2028,1,0,2,0,0,0,0,0,2,...,0,0,1,0,0,0,0,0,0,6

In [10]:
year_genre.sum().sort_values().to_csv("year_genre_sum.csv")

In [11]:
year_genre_sum_csv = pd.read_csv("year_genre_sum.csv")
year_genre_sum_csv

          genre       0
0     Game-Show      15
1         Short      53
2     Talk-Show     129
3    Reality-TV     411
4     Film-Noir     764
5          News    1368
6         Sport    5712
7     Animation    6693
8       Western    7253
9           War    8139
10        Adult    8258
11       Sci-Fi    8508
12      Musical    9154
13        Music   10439
14      Fantasy   11301
15      History   11783
16    Biography   13447
17      Mystery   13517
18       Family   14899
19    Adventure   22248
20       Horror   24877
21     Thriller   29523
22        Crime   30478
23      Romance   40783
24       Action   41194
25       Comedy   90395
26  Documentary  104229
27        Drama  190093
28        Total  705663